<h1>OuKonPeuManger?</h1>
<h2><%= link_to 'Créer Un Autre Resto', new_resto_path %></h2>
<% @restos.each do |resto| %>
  <%= link_to resto.name, resto %>
  <%= link_to 'x', resto, method: :delete, data: { confirm: 'Are you sure?' } %>
  <br/>
<% end %>

